@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Offside&display=swap');

body, html {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.cartContainer {
  margin: 0;
  padding: 1rem;
  background-color: #4F221B;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #FFFFFF;
  width: 100%;
  font-family: Iceland, sans-serif;
  font-size: 2rem;
}

.cartSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subtotal {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}

.checkoutButton {
  background-color: #333333;
  color: #FFFFFF;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  border-radius: 10%;
  font-family: Iceland, sans-serif;
  font-size: 1.8rem;
}

.checkoutButton:hover{
  color: black;
  background-color: #ffffff;
}

.checkoutButton:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.cartItemImage {
  max-width: 100px;
  height: auto;
}
