@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Offside&display=swap');

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #561E18;
  min-height: 100vh;
  font-family: Iceland, sans-serif;
}

.mainimage {
  width: 25%;
  margin-top: 3%;
  flex-shrink: 1;
}

.form {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px #00000030;
  width: 300px;
  flex-grow: 0;
  flex-shrink: 1;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.submit {
  background-color: #561E18;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.submit:hover {
  background-color: #4a1915;
}

.textstyle {
  font-size: 3rem;
  margin-bottom: 1rem; 
  margin-top: 1rem;
  color: #FFFFFF;
}
