.subButton {
  background-color: #333333;
  color: #ffffff;
  border: 2px solid white;
  border-radius: 10%;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  font-family: Iceland, sans-serif;
}

.subButton:hover{
  color: black;
  background-color: #ffffff;
}

.subButton:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.label{
  font-size: 2rem;
}