@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Offside&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.username {
  font-size: 2rem; 
  color: white; 
  font-family: Offside, sans-serif;
  font-weight: bold;
}
  
  .logoutButton {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #2b2b2b;
    border: none;
    color: white;
    cursor: pointer;
    font-family: Offside, sans-serif;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navItem {
    margin: 0 1rem;
  }
  
  .navLink {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Offside, sans-serif;
    font-size: 2rem;
  }
  
  @media (max-width: 768px) {
    .navList {
      flex-direction: column;
      align-items: center;
    }
  
    .navItem {
      margin-bottom: 0.5rem;
    }
  }
  