@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Offside&display=swap');

.footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 100%;
  }
  
  .footerText {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-family: Offside, sans-serif;
  }
  
  .footerLogo {
    display: flex;
    justify-content: center;
  }
  
  .logoImage {
    width: 300px;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .footerText {
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
    }
    
    .footerLogo {
      position: static;
      margin-top: 1rem;
      align-self: center;
    }
  }

  .glink{
    color: #FFFFFF;
  }

  .llink{
    color: #FFFFFF;
  }

  .rlink{
    color: #FFFFFF;
  }
  